body {
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 600;
  color: #384459;
}
img {
  display: inline;
}

@media screen and (min-width: 1029px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
  }

  .header__items {
    display: flex;
    list-style: none;
  }

  .header__items-li {
    border-right: solid 2px #e4e4e4;
    padding: 0 20px;
  }

  .header__items-li:last-child {
    border-right: none;
  }
  .header__items-a {
    text-decoration: none;
    color: #384459;
  }

  .header__btn {
    display: flex;
    text-decoration: none;
    background-color: #007979;
    color: white;
    padding: 20px 40px;
    gap: 0 10px;
  }

  .header__btn:hover {
    opacity: 0.7;
    transition: 0;
  }

  .top {
    text-align: center;
  }

  .top__hero1 {
    background-image: url(./img/hero01_bg01.jpg);
    background-size: cover;
  }
}
@media screen and (max-width: 1028px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
  }

  .header__items {
    display: none;
    list-style: none;
  }

  .header__items-li {
    border-right: solid 2px #e4e4e4;
    padding: 0 20px;
  }

  .header__items-li:last-child {
    border-right: none;
  }
  .header__items-a {
    text-decoration: none;
    color: #384459;
  }

  .header__btn {
    display: flex;
    text-decoration: none;
    background-color: #007979;
    color: white;
    font-size: 12px;
    padding: 20px 10px;
    gap: 0 10px;
  }

  .header__btn:hover {
    opacity: 0.7;
    transition: 0;
  }

  .top {
    text-align: center;
  }

  .top__hero1 {
    background-image: url(./img/hero01_bg01.jpg);
    background-size: cover;
    padding: 50px;
    text-align: center;
  }

  .logo {
  }

  .top__hero1-text {
    display: flex;
    justify-content: space-between;
    padding: 4px 16px;
    font-size: 10px;
    color: #007979;
  }

  .top__btn {
    padding: 20px 0;
    color: #007979;
    font-size: 8px;
  }

  .top__btn-p2 {
    padding: 20px;
  }

  .top__btn-a {
    padding: 20px 30px;
    background-color: aquamarine;
    text-decoration: none;
    color: white;
    font-size: 12px;
    gap: 0 30px;
  }

  .arrow_sp {
    width: 12px;
  }

  .top__btn-a:hover {
    opacity: 0.7;
  }
}
