body {
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 600;
  color: #384459;
}
img {
  display: inline;
}

a {
  display: inline;
}
/* レイアウト -----------------------------------------*/
.flex {
  display: flex;
}

/* Flexでの横方向中央揃え */
.flex-center {
  display: flex;
  justify-content: center;
}

.block {
  display: block;
}

.centery {
  vertical-align: middle;
}

/* 横方向に両端揃え */
.justify-between {
  justify-content: space-between;
}

/* 縦方向に均等揃え */
.column-even {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-evenly;
}

.relative {
  position: relative;
}

/* 横方向中央揃え */
.centerx {
  text-align: center;
}

.width-100 {
  width: 100%;
}

.margin-top56 {
  margin-top: 56px;
}
/* カラー --------------------------------------------------------*/
.color-liner {
  background: linear-gradient(to right, #2ea1aa, #06bc7a);
}

.text-liner {
  background: linear-gradient(to right, #2ea1aa 25%, #06bc7a 75%);
  -webkit-background-clip: text;
  color: transparent;
}

.bg-main {
  background-color: #f1f7f8;
}

.text-primary {
  color: #007979;
}

/* テキスト ------------------------------------------------------------*/
.font24 {
  font-size: 24px;
}
.font32 {
  font-size: 32px;
}
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* 通常のCSS */
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
.header__container {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  align-items: center;
}

.header__items {
  display: flex;
  list-style: none;
}

.header__items-li {
  border-right: solid 2px #e4e4e4;
  padding: 0 20px;
}

.header__items-li:last-child {
  border-right: none;
}
.header__items-a {
  text-decoration: none;
  color: #384459;
}

.header__btn {
  display: flex;
  text-decoration: none;
  background-color: #007979;
  color: white;
  padding: 20px 40px;
  gap: 0 10px;
}

.header__btn:hover {
  opacity: 0.7;
  transition: 0;
}
/* ------------------------------------------------------------------- */
/* トップページ--------------------------------------------------------- */
/* ------------------------------------------------------------------- */

.top__bg {
  background-image: url(./img/hero01_bg01.jpg);
  background-size: contain;
  background-repeat: repeat-x;
}

.top__left {
  text-align: center;
}

.top__logo {
  padding: 8% 0;
}

.top__title {
  padding: 0 80px;
}
.top__list {
  list-style: none;
  justify-content: center;
  font-size: 18px;
  color: #007979;
}

.top__x {
  width: 14px;
  margin: 0 32px;
}

.top__text {
  padding-top: 50px;
  font-size: 14px;
  color: #007979;
}

.top__pbtn {
  padding: 16px 0;
}
.top__abtn {
  padding: 16px 40px;
  color: white;
  text-decoration: none;
}

.top__polygon {
  width: 16px;
  margin-right: 10px;
}

/* ------------------------------------------------------------------- */
/*ページ1     --------------------------------------------------------- */
/* ------------------------------------------------------------------- */
.page1 {
  margin-top: 80px;
  margin-right: 20%;
  padding: 4% 0;
}

.page1__left {
  width: 50%;
  padding-left: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-evenly;
  gap: 40px 0;
}

.page1__main {
  color: #007979;
  font-size: 20px;
}

.page1__main-sub {
  font-size: 30px;
}

.page1__sub1 {
  color: #007979;
  font-size: 10px;
  padding-left: 80px;
}

.page1__sub2 {
  color: #007979;
  font-size: 18px;
}
.page1__right {
  width: 50%;
  padding-right: 20%;
  /* margin: 8% 0; */
}

.page1__pic {
  position: absolute;
  top: 40px;
  width: auto;
}
/* ------------------------------------------------------------------- */
/*ページ2     --------------------------------------------------------- */
/* ------------------------------------------------------------------- */
.page2__01 {
  color: #007979;
  font-size: 18px;
  margin-top: 80px;
}

.page2__bg {
  padding-top: 104px;
}

.page2__text {
  font-size: 40px;
}

.page2__text-inline {
  background: linear-gradient(transparent 65%, white 70%);
}

.page2__contents {
  margin: 2% 10%;
  gap: 0 64px;
}

.page2__content-right {
  background-color: white;
  padding: 40px;
  gap: 16px 0;
}

.page2__content-right2 {
  font-size: 18px;
}

.page2__content-right3 {
  font-size: 22px;
  background: linear-gradient(transparent 65%, yellow 70%);
}

.page2__content-right4-5 {
  margin: 0 10%;
  padding: 10px 0;
}
.page2__content-right4 {
  color: #007979;
  font-size: 18px;
}

.page2__content-right5 {
  font-size: 44px;
}

.page2__text-btm {
  font-size: 24px;
}
/* ------------------------------------------------------------------- */
/*ページ3 よくある誤解02------------------------------------------------- */
/* ------------------------------------------------------------------- */
.page3__ {
  font-size: 32px;
}

.page3__btm {
  width: 100%;
  height: 4px;
}

.page3__div-arrow {
  margin: 0 32px;
  width: 48px;
}

.page3__arrow {
  transform: rotate(-90deg);
}
/* ------------------------------------------------------------------- */
/*ページ4 hero2-------------------------------------------------------- */
/* ------------------------------------------------------------------- */
.page4__hero {
  background-image: url(./img/hero02_bg.jpg);
  background-size: cover;
  padding: 64px 0px;
  color: white;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 40%;
}
.page4__sub-text {
  padding: 32px 0;
}
.page4__btn-text {
  font-size: 14px;
  color: white;
}
