body {
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 600;
  color: #384459;
}

html {
  scroll-behavior: auto;
}

img {
  display: inline;
}

a {
  display: inline;
}
/* レイアウト -----------------------------------------*/
.flex {
  display: flex;
}
.hidden-pc {
  display: none;
}
.list-none {
  list-style: none;
}
/* Flexでの横方向中央揃え */
.flex-center {
  display: flex;
  justify-content: center;
}
.block {
  display: block;
}

.centery {
  vertical-align: middle;
}

/* 横方向に両端揃え */
.justify-between {
  justify-content: space-between;
}

/* 縦方向に均等揃え */
.column-even {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-evenly;
}
/* 縦方向に中央下揃え */
.column-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
}

.relative {
  position: relative;
}

/* 横方向中央揃え */
.centerx {
  text-align: center;
}
/* 縦方向中央揃え */
.centery {
  align-items: center;
}

.width-100 {
  width: 100%;
}
/* margin */
.margin-top20 {
  margin-top: 20px;
}
.margin-top56 {
  margin-top: 56px;
}
.margin-top96 {
  margin-top: 96px;
}
.margin-top160 {
  margin-top: 240px;
}
.margin-btm96 {
  margin-bottom: 96px;
}
.margin-btm16 {
  margin-bottom: 16px;
}
.margin-btm8 {
  margin-bottom: 8px;
}
.margin0auto {
  margin: 0 auto;
}
/* カラー --------------------------------------------------------*/
.color-liner {
  background: linear-gradient(to right, #2ea1aa, #06bc7a);
}

.bg-main {
  background-color: #f1f7f8;
}

/* テキスト ------------------------------------------------------------*/
.font14 {
  font-size: 14px;
}
.font18 {
  font-size: 18px;
}
.font20 {
  font-size: 20px;
}
.font22 {
  font-size: 22px;
}
.font24 {
  font-size: 24px;
}
.font32 {
  font-size: 32px;
}
.font-w500 {
  font-weight: 500;
}
.text-primary {
  color: #007979;
}
.text-liner {
  background: linear-gradient(to right, #2ea1aa 25%, #06bc7a 75%);
  -webkit-background-clip: text;
  color: transparent;
}
.line-height24 {
  line-height: 24px;
}
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* 通常のCSS ヘッダー*/
/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
.header__container {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  align-items: center;
}

.header__items {
  display: flex;
  list-style: none;
}

.header__items-li {
  border-right: solid 2px #e4e4e4;
  padding: 0 20px;
}

.header__items-li:last-child {
  border-right: none;
}
.header__items-a {
  text-decoration: none;
  color: #384459;
}

.header__btn {
  display: flex;
  text-decoration: none;
  background-color: #007979;
  color: white;
  padding: 20px 40px;
  gap: 0 10px;
}

.header__btn:hover {
  opacity: 0.7;
  transition: 0;
}
/* max640＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
@media screen and (max-width: 640px) {
  .hidden {
    display: none;
  }
  .font11 {
    font-size: 11px;
  }
  .pd-0-0-0-10 {
    padding: 0 0 0 10px;
  }
  .pd-20-20 {
    padding: 20px 20px;
  }
}
/* ------------------------------------------------------------------- */
/* トップページ--------------------------------------------------------- */
/* ------------------------------------------------------------------- */

.top__bg {
  background-image: url(./img/hero01_bg01.jpg);
  background-size: cover;
  background-size: 100% 100%;
  height: 600px;
  width: 60%;
}

.top__left {
  text-align: center;
}

.top__logo {
  padding: 8% 0;
}

.top__title {
  padding: 0 80px;
}
.top__list {
  list-style: none;
  justify-content: center;
  font-size: 18px;
  color: #007979;
}

.top__x {
  width: 14px;
  margin: 0 32px;
}

.top__text {
  padding-top: 50px;
  font-size: 14px;
  color: #007979;
}

.top__pbtn {
  padding: 16px 0;
}
.top__abtn {
  padding: 16px 40px;
  color: white;
  text-decoration: none;
}

.top__polygon {
  width: 16px;
  margin-right: 10px;
}
.top__div2 {
  width: 40%;
}
.top__pic-right {
  height: 600px;
  display: block;
}
/* max640＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
@media screen and (max-width: 640px) {
  .hidden {
    display: none;
  }
  .block-sp {
    display: block;
  }
  .font12-sp {
    font-size: 12px;
  }
  .font10-sp {
    font-size: 10px;
  }
  .top__bg {
    background-image: url(./img/hero01_bg01.jpg);
    background-size: cover;
    background-size: 100% 100%;
    height: 200px;
    width: 100%;
  }
  .top__img-sp {
    width: 88px;
  }
  .top__title {
    width: 332px;
    padding: 0;
    margin: auto;
  }
  .top__abtn {
    padding: 16px 20px;
    color: white;
    text-decoration: none;
  }
  .top__div2 {
    width: 100%;
  }
  .top__pic-right {
    height: 256px;
    width: 100%;
    margin-top: 120px;
  }
}
/* ------------------------------------------------------------------- */
/*ページ1     --------------------------------------------------------- */
/* ------------------------------------------------------------------- */
.page1 {
  margin-top: 80px;
  margin-right: 20%;
  padding: 4% 0;
}

.page1__left {
  width: 50%;
  padding-left: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-evenly;
  gap: 40px 0;
}

.page1__main {
  color: #007979;
  font-size: 20px;
}

.page1__main-sub {
  font-size: 30px;
}

.page1__sub1 {
  color: #007979;
  font-size: 10px;
  padding-left: 80px;
}

.page1__sub2 {
  color: #007979;
}
.page1__right {
  width: 50%;
  padding-right: 20%;
  /* margin: 8% 0; */
}

.page1__pic {
  position: absolute;
  top: 40px;
  width: auto;
}
/* max640＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
@media screen and (max-width: 640px) {
  .static {
    position: static;
  }
  .font20-sp {
    font-size: 20px;
  }
  .page1 {
    width: 100%;
  }
  .page1__left {
    width: 100%;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
    gap: 40px 0;
  }
  .page1__main {
    color: #007979;
    font-size: 20px;
    margin-right: 20%;
  }
  .page1__main-sub {
    font-size: 30px;
  }
  .page1__sub1 {
    color: #007979;
    font-size: 10px;
    padding-left: 80px;
  }
  .centerx-sp {
    margin-right: 20px;
  }
  .page1__sub2 {
    color: #007979;
  }
  .page1__right {
    width: 100%;
    padding: 150px 0;
  }
  .page1__pic {
    position: absolute;
    bottom: 0px;
  }
}
/* ------------------------------------------------------------------- */
/*ページ2     --------------------------------------------------------- */
/* ------------------------------------------------------------------- */
.page2__01 {
  color: #007979;
  font-size: 18px;
  margin-top: 80px;
}

.page2__bg {
  padding-top: 104px;
}
.page2__main-icon {
  position: absolute;
  top: -72px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.page2__text {
  font-size: 40px;
}

.page2__text-inline {
  background: linear-gradient(transparent 65%, white 70%);
}

.page2__contents {
  margin: 2% 10%;
  gap: 0 64px;
}

.page2__content-right {
  background-color: white;
  padding: 40px;
  gap: 16px 0;
}

.page2__content-right2 {
  font-size: 18px;
}

.page2__content-right3 {
  font-size: 22px;
  background: linear-gradient(transparent 65%, yellow 70%);
}

.page2__content-right4-5 {
  margin: 0 10%;
  padding: 10px 0;
}
.page2__content-right4 {
  color: #007979;
  font-size: 18px;
}

.page2__content-right5 {
  font-size: 44px;
}

.page2__text-btm {
  font-size: 24px;
}
.page2__man-left {
  position: absolute;
  bottom: 20px;
  left: 10px;
}
.page2__man-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
/* ------------------------------------------------------------------- */
/*ページ3 よくある誤解02------------------------------------------------- */
/* ------------------------------------------------------------------- */
.page3__ {
  font-size: 32px;
}

.page3__btm {
  width: 100%;
  height: 4px;
}

.page3__div-arrow {
  margin: 0 32px;
  width: 48px;
}

.page3__arrow {
  transform: rotate(-90deg);
}
.page3__pic-bar {
  position: absolute;
  right: 30px;
  bottom: 180px;
}
.page3__pic-book {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
/* ------------------------------------------------------------------- */
/*ページ4 hero2-------------------------------------------------------- */
/* ------------------------------------------------------------------- */
.page4__hero {
  background-image: url(./img/hero02_bg.jpg);
  padding: 64px 0px;
  color: white;
  width: 100%;
  height: 550px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.page4__sub-text {
  padding: 32px 0;
}
.page4__btn-text {
  font-size: 14px;
  color: white;
}
/* ------------------------------------------------------------------- */
/*ページ5 差別化ポイント-------------------------------------------------------- */
/* ------------------------------------------------------------------- */
.page5__bg {
  background-color: #f1f7f8;
  padding: 96px 0;
}
.page5__card {
  width: 360px;
  height: 485px;
  border-radius: 16px;
  background-color: white;
  margin: 0 24px;
}
.page5__card-text {
  margin: 0 20px;
}
.page5__line {
  border-bottom: 2px solid #007979;
  margin: 8px 0;
}
/* ------------------------------------------------------------------- */
/*ページ6 ユーザーの声-------------------------------------------------------- */
/* ------------------------------------------------------------------- */
.page6__ {
  padding: 100px 0;
  background-image: url(./img/bg.png);
  /* width: 100%; */
  background-size: 100% 100%;
}
.page6__user-top {
  gap: 0 64px;
  margin-top: 128px;
  margin-bottom: 64px;
}
.page6__user1 {
  width: 568px;
  height: 360px;
  padding: 0 32px;
  border-radius: 16px; /*1*/
  border: 6px solid transparent; /*2*/
  background: linear-gradient(to right, #2ea1aa, #06bc7a) border-box; /*3*/
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #2ea1aa, #06bc7a) border-box;
}
.page6__user1-1 {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 10px;
  width: 568px;
  height: 360px;
  padding: 0 32px;
  border-radius: 16px; /*1*/
  border: 6px solid transparent; /*2*/
  background: linear-gradient(to right, #2ea1aa, #06bc7a) border-box; /*3*/
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #2ea1aa, #06bc7a) border-box;
}
.page6__user1-pic {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -100px;
  left: 35%;
}
.page6__user2-pic {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -100px;
  left: 32%;
}
.page6__line {
  border-bottom: 3px solid #f2c94c;
  margin: 5px 15% 0 15%;
}
.page6__name {
  margin: 8px 0;
}
.page6__sample-text {
  line-height: 28px;
  text-align: left;
  margin-bottom: 40px;
}
.page6__user-btm {
  gap: 0 64px;
  margin-top: 134px;
  /* margin-bottom: 64px; */
}
.page6__user3 {
  width: 568px;
  height: 404px;
  padding: 0 32px;
  border-radius: 16px; /*1*/
  border: 6px solid transparent; /*2*/
  background: linear-gradient(to right, #2ea1aa, #06bc7a) border-box; /*3*/
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #2ea1aa, #06bc7a) border-box;
}
.page6__user3-1 {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 10px;
  width: 568px;
  height: 404px;
  padding: 0 32px;
  border-radius: 16px; /*1*/
  border: 6px solid transparent; /*2*/
  background: linear-gradient(to right, #2ea1aa, #06bc7a) border-box; /*3*/
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #2ea1aa, #06bc7a) border-box;
}

/* ------------------------------------------------------------------- */
/*ページ7料金-------------------------------------------------------- */
/* ------------------------------------------------------------------- */
.page7__ {
  padding: 112px 0;
  background-color: #fafafa;
}
.page7__plan {
  gap: 0 20px;
}
.page7__price {
  width: 340px;
  background-color: #ffffff;
  padding: 24px 0px 32px;
  border: 2px solid #e1e1e1;
  border-radius: 16px;
  gap: 16px;
}
.page7__price2 {
  width: 340px;
  background-color: #ffffff;
  padding: 24px 0px 32px;
  border: 3px solid #f2c94c;
  border-radius: 16px;
  gap: 16px;
}
.page7__price2-batch {
  position: absolute;
  width: 32px;
  top: 0px;
  right: 10%;
}
.page7__list {
  list-style: none;
  text-align: left;
  margin-left: 64px;
}
.page7__list-last {
  color: #bdbdbd;
}
.page7__text-box {
  display: inline-block;
  color: #06bc7a;
  padding: 22px 10%;
  background-color: #ffffff;
  border: 2px solid #e1e1e1;
  border-radius: 16px;
}
/* ------------------------------------------------------------------- */
/*ページ8 hero -------------------------------------------------------- */
/* ------------------------------------------------------------------- */
.page8__logo {
  width: 191px;
}
.page8__title {
}
.page8__x {
  margin: 0 2%;
}
/* ------------------------------------------------------------------- */
/*ページ9 footer -------------------------------------------------------- */
/* ------------------------------------------------------------------- */
.page9__ {
  background-color: #384459;
  color: #ffffff;
  padding: 112px 15% 48px;
}
.footer__div1 {
}
.footer__logo {
  width: 156px;
}
.footer__title {
  margin-right: 5%;
}
.footer__text-sns {
  position: absolute;
  top: -70%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.footer__list-sns {
  gap: 0 16px;
}
.footer__linkbox {
  width: 64px;
  height: 64px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__border {
  border-top: 2px solid white;
  margin-top: 24px;
  margin-bottom: 56px;
}
.footer__about {
  width: 20%;
}

/* test ------------------------------------------------------------------------------------------- */
